# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data

In [2]:
# parse the log file and create dataframe

df = pd.DataFrame(columns = ["patient_id", "curative_palliative_status"])

theFile = open("../data/treat_type_tfk_1.15.2022.log","r")
FILE = theFile.readlines()
theFile.close()
printList = []
for i, line in enumerate(FILE[11:]):
    try:
        if len(line.split("|")[1].strip().split("   ")) < 2: # breaks in table
            continue
        elif len(line.split("|")[1].strip().split("   ")) == 2:
            pid, status = line.split("|")[1].strip().split("   ")
            pid = float(pid)
        else: # missing data
            pass
    except:
        pass
    df.loc[i, ["patient_id", "curative_palliative_status"]] = pid, status

In [3]:
df = df.drop_duplicates()
print(df.shape)
df["patient_id"].nunique()

(732, 2)

732

In [4]:
data = pd.read_csv("../../../data/data.csv")

large_data = data.loc[:861, :]
large_data["patient_id"] = large_data["patient_id"].astype(float)
small_data = data.loc[862:, :]

large_data.head()

<ipython-input-4-efe0a55a4de7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  large_data["patient_id"] = large_data["patient_id"].astype(float)

,Unnamed: 0,patient_id,enroll_age,age_cat,hiv_status,marital,distance,cancer_screening,combined_cancer_stage,combined_cancer_stage_exact,...,primary_surgery_crt,treatment,pathology_date,actual_treat_start_date,init_cancer_stage,init_cancer_stage_exact,final_cancer_stage,final_cancer_stage_exact,chemo_only,primary_surgery_rt
0,0,1.0,50.0,2.0,1.0,2.0,59.2,1.0,4.0,12.0,...,0,1,2014-11-20,2015-02-03,4.0,12.0,3.0,10.0,0,0
1,1,3.0,40.0,2.0,1.0,1.0,310.0,0.0,3.0,10.0,...,0,1,2014-08-07,2015-02-04,3.0,10.0,NaN,NaN,0,0
2,2,5.0,48.0,2.0,1.0,3.0,0.0,0.0,3.0,10.0,...,0,1,2015-01-27,2015-02-04,3.0,10.0,3.0,10.0,0,0
3,3,9.0,65.0,3.0,0.0,3.0,59.2,0.0,2.0,8.0,...,0,1,2014-10-13,2015-02-17,2.0,8.0,NaN,NaN,0,0
4,4,11.0,51.0,2.0,1.0,3.0,0.0,1.0,3.0,9.0,...,0,1,2014-08-11,2015-01-22,NaN,NaN,3.0,9.0,0,0

In [5]:
large_data = large_data.merge(df, how="left", on="patient_id")

In [6]:
print(large_data.shape)
print(large_data[~large_data["curative_palliative_status"].isnull()].shape)

small_data["curative_palliative_status"] = np.nan

(862, 123)
(464, 123)

<ipython-input-6-ac53e2a20ab9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_data["curative_palliative_status"] = np.nan

In [7]:
data = pd.concat([large_data, small_data], axis=0)
print(data.shape)

(1043, 123)

In [9]:
data.drop(columns=["Unnamed: 0"], inplace=True)

In [11]:
data.to_csv("../../../data/data.csv", index=False)

In [4]:
data = pd.read_csv("../../../data/data.csv")
data.head()

,patient_id,enroll_age,age_cat,hiv_status,marital,distance,cancer_screening,combined_cancer_stage,combined_cancer_stage_exact,cr_result,...,treatment,pathology_date,actual_treat_start_date,init_cancer_stage,init_cancer_stage_exact,final_cancer_stage,final_cancer_stage_exact,chemo_only,primary_surgery_rt,curative_palliative_status
0,1.0,50.0,2.0,1.0,2.0,59.2,1.0,4.0,12.0,90.0,...,1,2014-11-20,2015-02-03,4.0,12.0,3.0,10.0,0,0,Definitive
1,3.0,40.0,2.0,1.0,1.0,310.0,0.0,3.0,10.0,597.0,...,1,2014-08-07,2015-02-04,3.0,10.0,NaN,NaN,0,0,Definitive
2,5.0,48.0,2.0,1.0,3.0,0.0,0.0,3.0,10.0,50.0,...,1,2015-01-27,2015-02-04,3.0,10.0,3.0,10.0,0,0,Definitive
3,9.0,65.0,3.0,0.0,3.0,59.2,0.0,2.0,8.0,60.0,...,1,2014-10-13,2015-02-17,2.0,8.0,NaN,NaN,0,0,Curative
4,11.0,51.0,2.0,1.0,3.0,0.0,1.0,3.0,9.0,117.0,...,1,2014-08-11,2015-01-22,NaN,NaN,3.0,9.0,0,0,Curative

In [5]:
treatment_delays = pd.read_excel("../../../data/time_to_treatment_data.xlsx", engine="openpyxl")

In [7]:
treatment_delays = treatment_delays.merge(data[["patient_id", "curative_palliative_status"]], how="left", on=["patient_id"])

In [9]:
treatment_delays.drop(columns=["Unnamed: 0"], inplace=True)

In [10]:
treatment_delays.to_excel("../../../data/time_to_treatment_data.xlsx", index=False)