In [1]:
# libraries
import pandas as pd

In [2]:
# load data
curative_pts = pd.read_stata("5year analysis 20200310.dta")
curative_pts

,id,completed4cycles_chemo,no_chemo_cycles,generated_id,omang,_2_have_you_been_screened_for_c,performance_status,diabetes,history_of_tb,age_sexual_activity,...,updatedvitalstatus,updateddateofdeathlastfoundinipm,dead5year,dateofdeathorfollowupfinal5year,time_alive,_st,_d,_t,_t0,xhiv3
0,AK044,1.0,4.0,79.400002,621825205,1.0,80.0,0.0,0.0,15.0,...,Alive,18-Feb-20,0.0,21963.0,2248.0,1,0.0,2248.0,0.0,0.0
1,BB142,0.0,3.0,60.000000,502029215,0.0,90.0,0.0,0.0,20.0,...,Alive,7-Jul-17,0.0,21007.0,1396.0,1,0.0,1396.0,0.0,0.0
2,BC146,0.0,1.0,79.400002,700323006,1.0,80.0,0.0,0.0,17.0,...,Alive,18-Feb-20,0.0,21963.0,2354.0,1,0.0,2354.0,0.0,1.0
3,BK195,1.0,4.0,175.000000,860220201,1.0,90.0,0.0,0.0,20.0,...,Alive,18-Feb-20,0.0,21963.0,1868.0,1,0.0,1868.0,0.0,1.0
4,BL003,1.0,5.0,4.000000,647724822,1.0,90.0,0.0,0.0,19.0,...,Alive,15-Nov-19,0.0,21868.0,2257.0,1,0.0,2257.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,,,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
995,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,,,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
996,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,,,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
997,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,,,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
998,,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,...,,,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [3]:
# index 143 patients
curative_pts = curative_pts.iloc[:143, :]
curative_pts#[["vitalstatus", "updatedvitalstatus"]]

,id,completed4cycles_chemo,no_chemo_cycles,generated_id,omang,_2_have_you_been_screened_for_c,performance_status,diabetes,history_of_tb,age_sexual_activity,...,updatedvitalstatus,updateddateofdeathlastfoundinipm,dead5year,dateofdeathorfollowupfinal5year,time_alive,_st,_d,_t,_t0,xhiv3
0,AK044,1.0,4.0,79.400002,621825205,1.0,80.0,0.0,0.0,15.0,...,Alive,18-Feb-20,0.0,21963.0,2248.0,1,0.0,2248.0,0.0,0.0
1,BB142,0.0,3.0,60.000000,502029215,0.0,90.0,0.0,0.0,20.0,...,Alive,7-Jul-17,0.0,21007.0,1396.0,1,0.0,1396.0,0.0,0.0
2,BC146,0.0,1.0,79.400002,700323006,1.0,80.0,0.0,0.0,17.0,...,Alive,18-Feb-20,0.0,21963.0,2354.0,1,0.0,2354.0,0.0,1.0
3,BK195,1.0,4.0,175.000000,860220201,1.0,90.0,0.0,0.0,20.0,...,Alive,18-Feb-20,0.0,21963.0,1868.0,1,0.0,1868.0,0.0,1.0
4,BL003,1.0,5.0,4.000000,647724822,1.0,90.0,0.0,0.0,19.0,...,Alive,15-Nov-19,0.0,21868.0,2257.0,1,0.0,2257.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,TD168,1.0,5.0,152.000000,348023406,1.0,80.0,0.0,0.0,20.0,...,Dead,1-May-15,1.0,20209.0,137.0,1,1.0,137.0,0.0,1.0
139,TW198,1.0,5.0,179.000000,406226515,1.0,90.0,0.0,0.0,15.0,...,Dead,2-May-15,1.0,20210.0,54.0,1,1.0,54.0,0.0,1.0
140,VG182,0.0,1.0,166.000000,204125206,1.0,90.0,0.0,0.0,22.0,...,Dead,31-Jan-15,1.0,20119.0,16.0,1,1.0,16.0,0.0,0.0
141,XX094,1.0,5.0,83.000000,484429809,1.0,90.0,0.0,1.0,15.0,...,Dead,7-Oct-14,1.0,20003.0,147.0,1,1.0,147.0,0.0,1.0
142,DJ013,1.0,5.0,14.000000,874522300,1.0,100.0,0.0,0.0,20.0,...,,14-Oct-16,NaN,20741.0,1129.0,1,0.0,1129.0,0.0,1.0

In [4]:
# grab columns used in Surbhi's analysis
curative_pts["dead5year"] = curative_pts["dead5year"].fillna(1)
curative_pts = curative_pts[["id", "xhiv3", "age", "xstage2", "no_chemo_cycles45",
              "hb10", "eqd2", "time_alive", "dead5year"]]

curative_pts.to_csv("curative.csv", index=False)

<ipython-input-4-8f893d16aa55>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curative_pts["dead5year"] = curative_pts["dead5year"].fillna(1)